<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Time</title>
</head>
<body>
    <h1>The current date and time is:</h1>
    <div id="datetime">
        <p>@DateTime.Now.ToString("dddd, MMMM d't''h' yyyy")</p>
        <p>@DateTime.Now.ToString("h:mm tt")</p>
    </div>
    
</body>
</html>